
.section{
  background: url(background.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 750px;
  overflow-y:scroll;
  scroll-behavior: smooth;  
}
*{
	margin:0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	
}
html{
	scroll-behavior: smooth;
}
	
img{
	width: 150px;
	height: 50px;
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 99%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.6);
	font-family: 'Open Sans', sans-serif;
}
nav{
	flex: 1;
	text-align: right;

}
.navbar_nav{
	display: flex;
	align-items: center;
	padding: 20px;
	
}

nav ul{
	display: inline-block;
	list-style-type: none;

}
nav ul li{
	display: inline-block;
	margin-right: 20px;

}
a{
	text-decoration: none;
	color:#ffffff; 
}
a:active {
  color: #ffcc00;
}

.container{
	max-width: 1300px;
	margin:auto;
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 200px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;

}
.col-2{
	flex-basis: 50%;
	min-width: 300px;
}
.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0px;

}

.admin{
	background-color: white;
	padding-left: 100px;
	padding-top: 50px;
	font-family: Arial,sans-serif;
}
.admin .heading{
	padding-right: 30px;
	font-size: 40px;
	}
.btn{
	display: inline-block;
	background:#ffcc00;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0px;
	border-radius: 30px;
	cursor: pointer;
	transition-duration: 0.4s;
}
.btn:hover{
	background-color: #ffdb4d;
}
